*{
    box-sizing: border-box;
}

body {
    
    font-family: Poppins ;
    color: rgba(0, 0, 0, 0.870588);  
    margin: 0px;
}
    

/* menu nav */
.icon{
    width: 18px;  
    margin-bottom: -2px; 
}
p{
    margin: 0px;
    font-family: 'Poppins',  sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin:  25px 30px;
    text-transform: uppercase;
    
    
    
}

.topbar{
     width: 100%;
     height: 100px;
     margin-right: 10px;
     margin-left: 10px;
    
}
.topbar nav {
    float: right;
    margin:  30px 27px;
    align-items: center;
   
}

.topbar .social{
    float: left;
}

nav a{   
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: color .2s;  
    margin-right: 30px;
   
 
}

a:hover {
    color: #A9A9A9;
    text-decoration: underline;
}
a:hover , a.active{
   
    text-decoration: underline;
}
.flickr:hover{
    opacity:  0.5;
    transition: opacity .2S;
  
   
}
.instagram:hover{
    opacity:  0.5;
    transition: opacity .2S;
}

/*photo*/
  

img:hover{
    opacity: .5;
    transition: .9s;
}
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        
}
.single-img{
 padding: 0 20px 20px;
}
    
.single-img img{
   
    width: 350px;
    height: auto;
}

/*photo 2 */



/*footer*/

.footer-nav a{
    font-size: 22px;

}

@media screen and (max-width: 749px ){
    .topbar nav{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 5px;
       
    }
    .topbar nav a{
        padding: 5px;
    }
    .social{
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-left: -12px;

    }
    .img-area{
        margin-top: 90px;
    }
    .footer-nav{
        padding-bottom: 20px;
        
    }
}

@media screen and (max-width: 415px ){
   
  .topbar nav  {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between
  }

.topbar nav a {
    margin: 0px 0px;
}


.topbar{
    margin: 0px 0px;
}

.social{
    margin: 0px 0px;
    
}


.footer-nav a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}